#include<stdio.h>
// Write a program in C to sort elements of array in ascending order.
int main () {
    int arr[100];
    int n, i, j, t;

    printf("type the value of elements : ");
    scanf("%d" , &n);
    printf("intput %d elemests of arrays :\n" , n);
    for(i=0;i<n;i++) {
        printf("Elements are %d :" , i);
        scanf("%d" , &arr[i]);
    }

    for(i=0;i<n;i++) {
        
        for(j=i+1;j<n;j++) {
            if(arr[j]<arr[i]) {
                
                t = arr[i];
                arr[i] = arr[j];
                arr[j] = t;
            }
        }
    }
    printf("Assending elements are :");
        for(i=0;i<n;i++) {
            printf("%d\t" , arr[i]);
        }
return 0;
}
